.options-selector {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}
.options-selector li {
  list-style: none;
}
.options-selector input {
  visibility: hidden;
}
.options-selector input:checked + label {
  background-color: black;
  color: white;
}
