.options-selector {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  margin-left: 20px;
}
.options-selector li:active {
  background-color: black;
  color: white;
  transform: translateY(4px);
}

.options-selector li {
  list-style: none;
  border: solid 1px black;
  background-color: white;
  color: black;
  width: 140px;
  height: 50px;
  text-align: center;
}
.options-selector input {
  visibility: hidden;
}
.options-selector input:checked + label {
  background-color: black;
  color: white;
  border: solid 1px black;
  width: 140px;
  height: 50px;
  text-align: center;
}
.bottom-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
  align-content: stretch;
}

.App {
  width: 85vw;
  height: 95vh;
  border: solid 2px black;
  margin-left: 50px;
}

.reset {
  border: solid 2px black;
  background-color: white;
  color: black;
  width: 120px;
  height: 60px;
  margin-right: 5px;
  text-align: center;
  margin-bottom: 30px;
}
.randomize {
  border: solid 2px black;
  background-color: black;
  color: white;
  margin-right: 5px;
  width: 120px;
  height: 60px;
  text-align: center;
  margin-bottom: 0px;
}
.ergebnisse {
  border: solid 1px black;
  background-color: white;
  width: 500px;
  height: 300px;
  margin-left: 5px;
  margin-bottom: 30px;
  overflow: scroll;
}
h2 {
  padding-left: 50px;
}

.title {
  display: flex;
  justify-content: space-around;
}
